<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	curiously.green1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	hope you enjoy it :)

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>室内环境控制</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <div id="container">
    <div id="header">
        <div id="header_inner">
            <h1>室内环境控制系统</h1>
            <div id="slogan">Technology is changing our lives.</div>
        </div><!--end #header_inner-->
    </div><!--end #header-->