<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>室内环境控制</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/stylesheets/homestyle.css" />
</head>
<body>
  <div id="container">
    <div id="header">
        <div id="header_inner">
            <h1>室内环境控制系统</h1>
            <div id="slogan">Technology is changing our lives.</div>
        </div><!--end #header_inner-->
    </div><!--end #header-->
    <div id="sidebar">
          <div id="menu">
           <ul>
             <% if (user&&user.privilege==1){ %>
              <li><a href="preweather.html">天气预报</a></li>
              <li><a href="indoorpara.html">室内环境</a></li>
              <li><a href="setpoint.html">预设调控</a></li>
              <li><a href="ctrlDevice.html">设备控制</a></li>
              <li><a href="operatecase.html">操作记录</a></li>
              <li><a href="userctrl.html">用户管理</a></li>
             <% } else {%>
              <li><a href="preweather.html">天气预报</a></li>
              <li><a href="indoorpara.html">室内环境</a></li>
              <li><a href="ctrlDevice.html">设备控制</a></li>
              <li><a href="operatecase.html">操作记录</a></li>
             <% } %>
              <li><a href="logout.html"/>注销</a></li>
           </ul>
          </div><!--end #menu-->
          <div id="menu_end"></div>
          <div id="lcontent">
		     <h3>您好：*** </h3>
             <h3>退出</h3>
	      </div><!--end #loctent-->
    </div><!--end #sidebar-->
    <article>
      <% if (locals.success) { %>
        <div ><%= locals.success %></div>
        <% } %>
      <% if (locals.error) { %>
      <div><%= locals.error %> </div>
     <% } %>