<%- include header %>
<div id="sidebar">
          <div id="menu">
            <ul>
              <li><a href="preweather.html">天气预报</a></li>
              <li><a href="indoorpara.html">室内环境质量</a></li>
              <li><a href="setpoint.html">预设调控幅度</a></li>
              <li><a href="ctrlDevice.html">设备控制</a></li>
              <li><a href="operatecase.html">系统使用统计</a></li>
              <li><a href="userctrl.html">用户管理</a></li>
              <li><a href="about.html"/>关于</a></li>
            </ul>
          </div><!--end #menu-->
          <div id="menu_end"></div>
          <div id="lcontent">
		     <h3>您好：*** </h3>
             <h3>退出</h3>
	      </div><!--end #loctent-->
     </div><!--end #sidebar-->
    <div id="mainContent">
      <h1>室内环境控制系统</h1>
      <h1>室内环境控制系统</h1>
      <br class="clearfloat"/>
    </div><!--end #mainContent-->
    <%- include footer %>