<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>室内环境控制</title>
<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="/stylesheets/loginstyle.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<div class="signin-container">
	<div class="logo">Glosea <small>代码如诗 — 科技让生活更美好！</small></div>
    <div class="copyright">Copyright &copy; 2014 Power by Glosea.org</div>
	<div class="panel panel-default center-block">
      <div class="panel-heading"><h4>Glosea Administrator <small>管理员登录</small></h4></div>
      <div class="panel-body"></div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="输入用户名/电子邮件">
=======
<link rel="stylesheet" type="text/css" href="/static/stylesheets/loginstyle.css"/>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/assets/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="signin-container">
	<div class="logo">科技创新<small>--------引领低碳时尚生活！</small></div>
    <div class="copyright">Copyright &copy; 2014 Power by Davis.org</div>
	<div class="panel panel-default center-block">
      <div class="panel-heading"><h4>室内环境控制系统 <small>登录</small></h4></div>
      <div class="panel-body"></div>
      <div class="panel-body">
        <form class="form-horizontal"  method="post" >
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" name="username" placeholder="输入用户名">
>>>>>>> origin/master
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-9">
<<<<<<< HEAD
              <input type="password" class="form-control" id="inputPassword3" placeholder="输入登录密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2">自动登陆
               </label>
              </div>
            </div>
          </div>
           <div class="form-group">
=======
              <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="输入登录密码">
            </div>
          </div>
          <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <div class="checkbox">
              <label>
                <input type="checkbox">记住密码
              </label>
             </div>
           </div>
          </div>
          <div class="form-group">
>>>>>>> origin/master
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-circle-arrow-right"></span> 登录 </button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
</body>
</html>
